[MASTER]
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable=
    C0111, # missing docstring
    C0103, # invalid name
    C0330, # bad continuation
    C0326, # bad whitespace
    W0511, # fixme
    R0903, # too few public methods
    R0913, # too many arguments
    R0914, # too many local variables

[BASIC]
good-names=i,j,k,ex,Run,_,id,db

[SIMILARITIES]
min-similarity-lines=7

[FORMAT]
max-line-length=100

[DESIGN]
max-args=8
max-attributes=12

[TYPECHECK]
ignored-classes=SQLModel,SQLAlchemy
ignored-modules=alembic.context

